<div class="container">
	<div class="row">
		<div class="col-md-6 center-block no-float">
			<h1> <i class="fa fa-shopping-cart"></i> Mis compras </h1>

			<ul class="list-group">
				<% @payments.each do |payment| %>
					<li class="list-group-item">
						<%= link_to payment.post.tittle, payment.post %>
					</li>
				<%end%>
			</ul>
		</div>
	</div>
</div>